.blue-column{
  background-color: #66b3ff;
  border-radius: 0.2em;
}

.green-column{
  background-color: #66ff66;

}

.red-column{
  background-color: #ff6666;

}

.yellow-column{
  background-color: #ffff66;

}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {

}
